{% extends "layout.html" %}

{% block title %}
<title>Welcome to Pastas!</title>
{% endblock %}

{% block body %}
<div>
  <h1>Welcome to Pastas!</h1>
</div>

<div>
  <p>You can create a new one by filling the <a href="/new">form</a> or by doing a POST request.</p>
  <p>To see some pastes from other people, see the <a href="/list">list</a>.<br/>
    Whenever you are watching a paste, you can add /«lexer» to the end of the 
    URL to highlight the syntax.</p>
  <p>This tool is inspired by <a href="http://ix.io">ix.io</a> but opensource and written in <a href="http://hylang.org">Hy</a>. Feel free to <a href="https://github.com/Willyfrog/pastas">check the source</a> or <a href="https://github.com/Willyfrog/pastas/issues">post some issues</a>.</p>
</div>
{% endblock %}
