{% extends "layout.html" %}
{% block title %}
<title>New Paste!</title>
{% endblock %}

{% block body %}
<div id="form-new">
  <h2>Create a new Paste!</h2>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flash">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/new/" >
    <fieldset>
      <input type="text" name="user" placeholder="User (optional)"{% if user %} value="{{user}}"{% endif %} />
      <input type="text" name="key" placeholder="Paste name (optional)"{% if key %} value="{{key}}"{% endif %} />
      <textarea id="code" name="code" placeholder="Write some code here." >{% if code %}{{code}}{% endif %}</textarea>
      <input type="submit" name="send" value="Share"/>

    </fieldset>
  </form>
</div>
{% endblock %}
